<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MonikaOnDesktop.MonikaSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MonikaOnDesktop.MonikaSettings>
            <setting name="DarkMode" serializeAs="String">
                <value>Auto</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>{PlayerName}</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="FirstLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isMouse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NightStart" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="NightEnd" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="isColdShutdown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isSpeaking" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scaler" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="idleRandomFrom" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="idleRandomTo" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="screenNum" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="idleRandom" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ai" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="aitoken" serializeAs="String">
                <value />
            </setting>
        </MonikaOnDesktop.MonikaSettings>
    </userSettings>
</configuration>